@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .des {
        margin: 0 auto;
        width: 500px;
        height: 100px;
        position: relative;
        bottom: 6rem;
        overflow: hidden;
    }

    .des:after {
        content: "";
        position: absolute;
        bottom: 0;
        right: -5%;
        left: -5%;
        height: 120px;
        background: #fff;
        -webkit-clip-path: ellipse(50% 60% at 50% 100%);
        clip-path: ellipse(50% 60% at 50% 100%);
    }

    .de {
        margin: 0 auto;
        width: 500px;
        height: 100px;
        position: relative;
        top: 5rem;
        overflow: hidden;
        transform: rotate(180deg);
    }

    .de:after {
        content: "";
        position: absolute;
        bottom: 0;
        right: -5%;
        left: -5%;
        height: 120px;
        background: #fff;
        -webkit-clip-path: ellipse(50% 60% at 50% 100%);
        clip-path: ellipse(50% 60% at 50% 100%);
    }
}